<header>
    <nav>
        <a href="/en" class="logo">
            <img src="/assets/img/v2/GE-AIO-Green.png" alt="GrüneEule Logo" class="logo-schriftzug">
        </a>
        <ul class="nav-links">
            <li><a href="/en">Home</a></li>
            <li><a href="/en/index.html#projects">Projects</a></li>
            <li><a href="/en/about">About Us</a></li>
            <li><a href="/en/news/news.html">News</a></li>
            <li><a href="https://grueneeule.de/l/dc" target="_blank" rel="noopener noreferrer">Discord Server</a></li>
        </ul>
    </nav>
</header>
